<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Мой магазин{% endblock %}</title>
    <script src="https://kit.fontawesome.com/4bd251a57a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
        <li><a href="/user/all">Пользователи</a></li>
        <!-- <li><a href="?c=user&a=one">Пользователь</a></li> -->
        <li><a href="/good/all">Список товаров</a></li>
        <li><a href="/basket/index">Корзина</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>